h3 {
    font-size: 40px;
    font-family: sans-serif;
}

#water {
    font-size: 20px;
}

#heat {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

main {
    margin-top: -10%;
}

.restau111 {
    display: flex;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: black;
}

header {
    background-color: rgb(44, 99, 202);
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 99;
}

.header-image {
    display: flex;
    align-items: center;
}

.header-nav-toggle {
    font-size: 20px;
    margin: 0 4% 0 4%;
}

.logo {
    padding: 0 0% 2% 6%;
}

.header-nav {
    padding: 0 0% 2% 4%;
    font-size: 14px;
}

.header-nav-link {
    cursor: pointer;
    padding: 0.5%;
}

.header-nav-link a {
    text-decoration: none;
    color: white;
}

.header-nav-link a:active {
    color: rgb(113, 139, 187);
}

.padding-right-4 {
    padding-right: 4px;
}

.padding-right-5 {
    padding-right: 5px;
}

.site-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 18px;
}

.site-nav ul {
    padding-left: 15px;
}

.site-nav ul li {
    list-style-type: none;
    padding-bottom: 12px;
    font-weight: 500;
}

.site-nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: 500;
    font-style: italic;
}

.padding-right-8 {
    padding-right: 8px;
}

.site-nav ul li a:active {
    color: rgb(44, 99, 202);
}

#sub-nav {
    font-size: 16px;
    padding-left: 35px;
}

.sub-nav li {
    padding-bottom: 8px;
}

#overlay {
    position: fixed;
    display: none;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}


/* to do - calculate dynamically */

.breadcrumb {
    /* margin-top:0; */
    color: rgb(44, 99, 202);
}


/* .container-header, .item-container, .breadcrumb, .item-overview, .item-review  {
    margin-left:2%;
} */

.content {
    margin-top: 188px;
    margin-left: 2%;
}

.item {
    background-color: white;
    margin: 0 2% 2% 0;
    cursor: pointer;
}

.item img {
    width: 96%;
    height: 210px;
    padding: 2%
}

.item-name-loc {
    text-align: center;
    font-weight: 400;
    font-style: italic;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-12 {
    font-size: 12px;
}

.item span {
    text-align: center;
    color: rgb(229, 31, 11);
    display: block;
}

.item span a {
    cursor: pointer;
}

.item span a:hover {
    text-decoration: underline;
}

.text-bold {
    font-size: 1.3em;
    font-weight: bold;
}

.text-light {
    font-size: 0.8em;
    font-weight: light;
}

.item-name {
    font-size: 30px;
    font-weight: 600;
    margin-top: 1.5%;
    margin-bottom: 0.3%;
}

.item-rating {
    font-size: 12px;
    color: rgb(44, 99, 202);
}

.item-image-series {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-image {
    width: 80%;
}

.line-spacing {
    margin: 2% 0%;
}

.item-overall-rating {
    font-size: 40px;
    font-weight: 800;
}

.review-summary {
    font-size: 20px;
    font-weight: 600;
}

.review-user {
    font-size: 12px;
}

.item-main {
    background-color: white !important;
}

.line-width-50 {
    width: 50%;
}

.category-item {
    height: 220px;
    background-color: white;
    margin: 0 2% 2% 0;
    background-size: cover;
    cursor: pointer;
}

.category-item div {
    color: white;
    font-weight: 700;
    font-size: 30px;
    padding: 175px 0 10px 10px;
}

footer {
    width: 100%;
    background-color: rgb(80, 129, 233);
    color: white;
}

.footer-header {
    color: white;
    text-align: left;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}

.footer-terms {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1%;
}

.footer-terms div {
    padding-bottom: 4px;
}

.footer-social {
    font-size: 20px;
    text-align: left;
    padding-left: 1%;
}

.footer-line-margin-5 {
    margin-left: 5%;
    margin-right: 5%;
}

.font-14 {
    font-size: 14px;
}

.footer-sign-up {
    padding-left: 1%;
}

.sign-up {
    font-size: 20px;
    font-weight: 800;
}

.site-contact {
    text-align: left;
    bottom: 0;
    left: 0;
    padding: 15px 0 5px 1%;
}

.site-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

[class*="col-"] {
    width: 100%;
}

@media screen and (max-width: 400px) {
    div.container_gallery {
        margin-top: 38%;
        /*xirui chen DO NOT DELETE THX DO NOT DELETE THX*/
    }
    img.gallery {
        padding-top: 30%;
        /*xirui chen DO NOT DELETE THX DO NOT DELETE THX*/
    }
}

@media screen and (min-width: 400px) {}


/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
    div.container_gallery {
        margin-top: 38%;
        /*xirui chen DO NOT DELETE THX DO NOT DELETE THX*/
    }
    img.gallery {
        padding-top: 15%;
        /*xirui chen DO NOT DELETE THX DO NOT DELETE THX*/
    }
}

@media screen and (max-width: 768px) {
    div.container_gallery {
        margin-top: 20%;
        /*xirui chen DO NOT DELETE THX DO NOT DELETE THX*/
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    .header-nav {
        padding: 0 0% 2% 4%;
        font-size: 16px;
    }
    .content {
        margin-top: 208px;
        margin-left: 2%;
    }
    .item-image-series {
        margin-top: 4%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media screen and (min-width: 768px) {
    div.container_gallery {
        margin-top: 10%;
        /*xirui chen DO NOT DELETE THX DO NOT DELETE THX*/
    }
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}

.restaurant-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.rs1,
.rs2,
.rs3,
.rs4,
.rs5 {
    display: flex;
    margin: 25px;
    padding: 25px;
    justify-content: space-evenly;
}

.rs3info {
    display: flex;
    flex-flow: column nowrap;
}

.rs1img img {
    width: 350px;
    height: 300px;
    margin: 25px;
}

.rs2img img {
    width: 350px;
    height: 300px;
    margin: 25px;
}

.rs3img img {
    width: 350px;
    height: 300px;
    margin: 25px;
}

.rs4img img {
    width: 350px;
    height: 300px;
    margin: 25px;
}

.rs5img img {
    width: 350px;
    height: 300px;
    margin: 25px;
}

@media screen and (max-width) {
    .rs1,
    .rs2,
    .rs3,
    .rs4,
    .rs5 {
        display: flex;
        flex-flow: column nowrap;
    }
}
